.chart {
  margin: auto;
  height: 10%;
  width: 60%;
}

iframe {
  width: 100%;
  height: 300px;
}

.highlight {
  background: lightgoldenrodyellow;
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #fafafa;
}
