body {
  background-color: rgb(245, 245, 245);
  font-family: "Vector Battle", sans-serif;
  color: #ffffff;
}

.leaderboard {
  border: 0px solid black;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  background-color: transparent;
}

caption {
  font-weight: bold;
  margin: auto;
}

thead,
th {
  font-weight: lighter;
}

.chart {
  margin: auto;
  height: 10%;
  width: 60%;
}

iframe {
  width: 100%;
  height: 300px;
}

.highlight {
  background: rgba(250, 250, 210, 0.253);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}
th,
td {
  border: 0px solid #fafafa;
  padding-right: 10px;
  padding-left: 10px;
}

th {
  color: rgb(97, 97, 97);
}
a.pill {
  outline: none;
  border-radius: 4px;
  text-decoration: none;
  margin: 1px;
  padding: 2px;
  color: goldenrod;
}

#nightSky {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
}

#all {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
