

body {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(245, 245, 245);
  font-family: 'LT Binary Neue', sans-serif;
}

.leaderboard {
  width: 240pt;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
}

caption {
  font-weight: bold;
  margin: auto;
}

thead, th {
  font-weight: lighter;
}

.chart {
  margin: auto;
  height: 10%;
  width: 60%;
}

iframe {
  width: 100%;
  height: 300px;
}

.highlight {
  background: lightgoldenrodyellow;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}
th, td {
  border: 1px solid #fafafa;
  padding-right: 10px;
  padding-left: 10px;
}

a.pill {
  outline: none;
  background: white;
  border-radius: 4px;
  text-decoration: none;
  border-color: white;
  border-width: 1px;
  margin: 1px;
  padding: 2px;
  font-size: smaller;
  border-top-style: groove;
}
